<h3>Profile</h3><br>

<h4><%= @user.name %></h4>
<li><%= image_tag(@user.image, :class => 'profile_thumb') %></li><br>
<p>Occupation: <%= @user.occupation %></p>
<p>Website: <a href="<%= @user.website %>"><%= @user.website %></a></p>

<li><%= link_to 'Edit Profile', edit_user_path(@user) %></li>