<!DOCTYPE html>
<html>
<head>
  <title>ChromaApp</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
    <nav class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">PALETTOR</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
              <% if @current_user %>
                <li><%= link_to "Create New", new_palette_path %></li>
                <li><%= link_to "Palette Index", palettes_path %></li>
                <li><%= link_to "Profile", user_path(:id => @current_user.id)%></li>
                <li><%= link_to "Logout #{ @current_user.name }",login_path, :method => 'delete' %></li>
              <% else %>
                <li><%= link_to "Sign Up", new_user_path %></li>
                <li><%= link_to "Login", login_path %></li>
              <% end %>
                </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </nav><!-- /.navbar -->

<div class="container">

  <%= yield %>

</div><!--/.container-->

    <footer class="footer">
      <div class="container">
        <p class="text-muted">
          <a href="http://twitter.com/conniecodes"><i class="fa fa-twitter"></i></a>
          <a href="https://github.com/conniegiann"><i class="fa fa-github-alt"></i></i></a>
        </p>
      </div>
    </footer>

</body>
</html>
